<div class="bs-example">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title" align="center">Disclaimer</div>

        </div>

        <div style="padding-top:40px;" class="panel-body" align="center"> 

            <form id="signupform" class="form-horizontal css-form" role="form" name="form" novalidate>
                <div ng-style="{'font-size': 'large','font-family': 'Sitka Subheading'}" ng-class="{'center-align-text':true}">
                   Desclaimer
                </div>
            </form>
        </div>
    </div>
</div>


<!--end of page content-->